
@model MasterDetails.Models.SeminarStudentViewModel
@{
    ViewBag.Title = "ListOfStudentsWithSeminars";

}

<h2>List Of Students With Seminars</h2>

<html>

<head>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 15px;
        }

        tr:hover {
            background-color: #ff0000;
        }
    </style>


</head>



<body>
    <div style="overflow-x:auto">

        <table style="float: left">
            <tr>
                <td>Name</td>
                <td>Seminar Id</td>


            </tr>

            @foreach (var m in Model.Student)
            {
                <tr>

                    <td>@m.Name</td>
                    <td>@m.SeminarId</td>

                </tr>

            }


        </table>
        <table style="float:left">
            <tr>
                <td>Name of the selected seminar</td>
            </tr>
            @foreach (var n in Model.Seminar)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => n.SeminarName)
                    </td>


                </tr>

            }

        </table>

    </div>




</body>

</html>